.students-btn2{
  color: white;
  text-align: center;
  flex: 1 0 21%;
  margin: 5px;
  min-width: 150px;
  max-height: 67px;
  max-width: 200px;
  background-color: #4951F2;
  border-radius: 7px;
}
 

.text-btn{
  margin: 0;
    min-width: 150px;
}
  .parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

 

   

      